[alias]
	up = pull --rebase
	sync = "!f() { git pull --rebase && git push && echo \"Sync complete\"; }; f"
	finish = "!f() { git add . && git commit -m \"$1\" && git sync; }; f"
	feat = "!f() { git add . && git commit -m \"$1\" && git sync; }; f"
	hardreset = reset --hard
[core]
	autocrlf = true
	editor = vim
	pager = delta

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = true

[interactive]
	diffFilter = delta --color-only
	
[delta]
	syntax-theme = Solarized (light)
